# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SECRET=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/onboarding
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/onboarding

# MongoDB
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-host>/creatorbridge?retryWrites=true&w=majority&appName=Branzzo
MONGODB_DB_NAME=creatorbridge

# Email
RESEND_API_KEY=
EMAIL_FROM="Branzzo <notifications@example.com>"

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_CONTACT_EMAIL_DOMAIN=branzzo.com
NEXT_PUBLIC_SUPPORT_EMAIL=support@branzzo.com
NEXT_PUBLIC_PARTNERSHIPS_EMAIL=partnerships@branzzo.com
NEXT_PUBLIC_LEGAL_EMAIL=legal@branzzo.com
ADMIN_EMAILS=admin@example.com,ops@example.com
